.stat-col , .action-col {
    width : 50%;
    padding : 1em;
}

.border-class{
    border-left: 10px blue;
}
table thead{
    background : cornflowerblue;
}
.header_row{
    background-color: cornflowerblue!important;
    color : white;
}