<template>
    <div class="container slds-m-around_medium" style="background-color: white;">
        <div class="exampleHolder" if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

        <lightning-layout>
            <lightning-layout-item padding="around-medium" size="12">
                <c-download-data class="slds-m-left-medium slds-m-top_medium" items={objFields} object={objectName}>
                </c-download-data>
                <Lightning-input class="slds-m-top_medium" type="search" label="Object Name" name="objectName"
                    value={objectname} onkeyup={handleKeyUp}>

                </Lightning-input>


                <div class="slds-scrollable_y slds-scrollable_x slds-m-around_small" style="height:auto;">
                    <table class="slds-table slds-table--header-fixed slds-table">
                        <thead style="padding: 1rem; background-color: aqua;">
                            <tr class=" header_row" style="background-color: aqua;">
                                <th class=" slds-cell-fixed slds-p-around_medium stat-col" scope="col">
                                    <span>Field Label</span>
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Api Name
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Custom Field
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Formula Field
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Formula 
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Default Value
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Case Sensitive
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    NameSpace Prefix
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Length
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Description
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium stat-col" scope="col">
                                    Help Text
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Data Owner
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Compliance Name
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Sensitivity Level
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Field Usage
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Picklist Values
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Data Type
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Required
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    Unique
                                </th>
                                <th class=" slds-cell-fixed slds-p-around_medium action-col" scope="col">
                                    External Id
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={objFields} for:item="field" if:true={showFields}>
                                <tr key={field.apiName}>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class ">
                                            {field.label}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.apiName}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.isCustom}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.isFormula}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.formula}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.defaultValues}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.caseSensitive}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.namePrefix}
                                        </div>
                                    </td>

                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.length}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.description}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class  ">
                                            {field.helpText}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.owner}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.compliance}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.sensitivityLevel}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.fieldUsage}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            <template for:each={field.picklistValues} for:item="value">
                                                {value}
                                            </template>

                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.type}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.required}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.unique}
                                        </div>
                                    </td>
                                    <td class="slds-cell-wrap">
                                        <div class="slds-truncate border-class">
                                            {field.externalId}
                                        </div>
                                    </td>
                                </tr>
                            </template>

                        </tbody>
                    </table>
                </div>
            </lightning-layout-item>

        </lightning-layout>
    </div>
</template>